<nav class="navbar navbar-dark bg-primary">
    <a href="/" class="navbar-brand" style="margin-left: 10px;">
        Blog
    </a>

    <ul class="navbar-nav col-lg-11">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categories</a>
        </li>
    </ul>
</nav>